{% extends 'shopping_app/navigation.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}
    
    <div class='container'>
        <br>
        <!-- Household/product table -->
        {% if household_list %}
            {% for household in household_list %}
                <h3>{{ household.name }}</h3>
                <div class='jumbotron household-jumbotron'>
                    <!-- Check if there are any items -->
                    {% if household.products.all %}

                        <!-- PENDING PRODUCTS -->
                        {% if household.products.all|products:"pending"|length > 0 %}
                            <h5>Household products</h5>
                            <table id="household-products-{{ household.slug }}" class="table table-bordered table-striped">
                                <thead id='household-products-thead-{{ household.slug }}' class="thead-dark">
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">Max Price</th>
                                        <th scope="col">Added by</th>
                                        <th scope="col">Info</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for product in household.products.all|products:"pending" %}
                                    <tr>
                                        <th scope="row">{{ forloop.counter }}</th>
                                        <td>{{ product.name }}</td>
                                        <td>{{ product.quantity }}</td>
                                        <td>{{ product.max_price }}</td>
                                        <td>{{ product.posted_by.username }}</td>
                                        <td width=40>
                                            {% if product.info|length > 0 %}
                                                <button id='product-info-button' type='button' class='btn' data-toggle='popover' data-trigger='focus' title='Extra information' data-content="{{ product.info }}">
                                                    <img src="{% static 'shopping_app/images/information.png' %}" alt="">
                                                </button>
                                            {% else %}
                                                <button id='product-info-button' type='button' class='btn disabled' title='Extra information'>
                                                    <img src="{% static 'shopping_app/images/information.png' %}" alt="">
                                                </button>
                                            {% endif %}
                                        </td>
                                        <td width=120>
                                            <input id='buy-{{ user.username }}-{{ household.slug }}-{{ product.id }}-{{ product.name }}' class='buy-product-button' title="Buy product" type='image' src="{% static 'shopping_app/images/check-icon.png' %}" alt="check-icon">
                                            <form id='remove-product-form' method='POST' action=''>
                                                {% csrf_token %}
                                                <input id='remove-{{ user.username }}-{{ household.slug }}-{{ product.id }}' class='remove-product-button' title="Remove product" type='image' src="{% static 'shopping_app/images/bin-icon.png' %}" alt="bin-icon">
                                            </form>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <h5>There are no pending products</h5>
                        {% endif %}
                        <!-- BOUGHT PRODUCTS / HISTORY  -->
                        <div class='product-history-content'>
                            <h5>Product history</h5>
                            {% if household.products.all|products:"bought"|length > 0 %}
                                <table id="household-product-history-{{ household.slug }}" class="table table-bordered">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th scope="col">Name</th>
                                            <th scope="col">Quantity</th>
                                            <th scope="col">Max Price</th>
                                            <th scope="col">Actual Price</th>
                                            <th scope="col">Added By</th>
                                            <th scope="col">Bought By</th>
                                            <th scope="col">Info</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for product in household.products.all|products:"bought" %}
                                        <tr>
                                            <th scope="row">{{ product.name }}</th>
                                            <td>{{ product.quantity }}</td>
                                            <td>{{ product.max_price }}</td>
                                            <td>{{ product.actual_price }}</td>
                                            <td>{{ product.posted_by.username }}</td>
                                            <td>{{ product.bought_by.username }}</td>
                                            <td width=40>
                                                {% if product.info|length > 0 %}
                                                    <button id='product-info-button' type='button' class='btn' data-toggle='popover' data-trigger='focus' title='Extra information' data-content="{{ product.info }}">
                                                        <img src="{% static 'shopping_app/images/information.png' %}" alt="">
                                                    </button>
                                                {% else %}
                                                    <button id='product-info-button' type='button' class='btn disabled' title='Extra information'>
                                                        <img src="{% static 'shopping_app/images/information.png' %}" alt="">
                                                    </button>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                <p><strong>No history</strong></p>
                            {% endif %}
                        </div>
                        <button type='button' class='history-collapsible'>&#9660</button>       
                        
                        <!-- WISHES -->
                        {% if household.products.all|products:"wishes"|length > 0 %}
                            <h5>Wishes</h5>
                            <!-- table with wishes -->
                            <table id="household-wishes-{{ household.slug }}" class="table table-bordered table-striped">
                                <thead id='household-wishes-thead-{{ household.slug }}' class="thead-dark">
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">Max Price</th>
                                        <th scope="col">Added by</th>
                                        <th scope="col">Info</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for product in household.products.all|products:"wishes" %}
                                    <tr>
                                        <th scope="row">{{ forloop.counter }}</th>
                                        <td>{{ product.name }}</td>
                                        <td>{{ product.quantity }}</td>
                                        <td>{{ product.max_price }}</td>
                                        <td>{{ product.posted_by.username }}</td>
                                        <td width=40>
                                            {% if product.info|length > 0 %}
                                                <button id='product-info-button' type='button' class='btn' data-toggle='popover' data-trigger='focus' title='Extra information' data-content="{{ product.info }}">
                                                    <img src="{% static 'shopping_app/images/information.png' %}" alt="">
                                                </button>
                                            {% else %}
                                                <button id='product-info-button' type='button' class='btn disabled' title='Extra information'>
                                                    <img src="{% static 'shopping_app/images/information.png' %}" alt="">
                                                </button>
                                            {% endif %}
                                        </td>
                                        <td width=120>
                                            <input id='buy-{{ user.username }}-{{ household.slug }}-{{ product.id }}-{{ product.name }}' class='buy-product-button' title="Buy product" type='image' src="{% static 'shopping_app/images/check-icon.png' %}" alt="check-icon">
                                            <form id='remove-product-form' method='POST' action=''>
                                                {% csrf_token %}
                                                <input id='remove-{{ user.username }}-{{ household.slug }}-{{ product.id }}' class='remove-product-button' title="Remove product" type='image' src="{% static 'shopping_app/images/bin-icon.png' %}" alt="bin-icon">
                                            </form>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <h5>There are no pending wishes</h5>
                        {% endif %}
                    {% else %}
                        <h5>No wishes or products in this household</h5>
                    {% endif %}

                    <div id='confirm-purchase-dialog-{{ household.slug }}' class='purchase-content'>
                        <p id='confirm-purchase-dialog-p-{{ household.slug }}'></p>
                        <form id='confirm-purchase-form-{{ household.slug }}' method='POST' action="">
                            {% csrf_token %}
                            {{ confirm_purchase_form.as_p }}
                            <input class='btn btn-success' type="submit" value="Confirm">
                        </form>
                    </div>
                    <button type="button" class="collapsible">Members</button>
                    <div class="content">
                        <ul class="list-group list-group-flush">
                            {% for member in household.members.all %}
                                <li id='member-list-element' class="list-group-item">{{ member.username }}</li>
                            {% endfor %}
                          </ul>
                    </div>
                    
                    <!-- Button to trigger the modal -->
                    <button id="button-modal-{{ user.username }}-{{ household.slug }}" type='button' class='btn btn-primary button-modal' data-toggle='modal' data-target='#productModal'>Add product</button>
                </div>
            {% endfor %}

            <!-- Modal -->
            <div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="productModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="productModalLabel">What would you like to add?</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form id="add-product-form" method='POST' action="">
                                {% csrf_token %}
                                {{ add_product_form.as_p }}
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <input type="submit" form='add-product-form' class="btn btn-primary" value='Confirm'></input>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <br>
            <h1>Nothing to see here ¯\_(ツ)_/¯</h1>
        {% endif %}
    </div>
{% endblock %}
