.jumbotron.household-jumbotron {
    padding-top: 1em;
    padding-bottom: 2em;
}

#product-info-button {
    padding: 0px;
    border: 0px;
}

#remove-product-form {
    display: inline;
}

#remove-product-form input {
    margin-bottom: -11px;
    margin-left: 25px;
}
/* COLLAPSIBLE */

/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: #b5b5b5;
    color: #444;
    cursor: pointer;
    padding: 12px 18px;
    width: 100%;
    border: 1px solid black;
    border-radius: 10px;
    text-align: left;
    outline: none;
    font-size: 15px;
    margin-bottom: 10px;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover {
    background-color: #ccc;
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .content {
    padding: 2px 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 10px;
  }

  .collapsible:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }

  #member-list-element {
      background-color: #f1f1f1;
  }